<p>EMPTY ORDER FORM:<p>
<form method="post" action="/pizza-orders">
  <label for="first-name" > First Name:</label>
  <input type="text" id="first-name" name="first_name"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name">

  <label for="topping">Topping type:</label>
  <select id="topping" name="topping">
    <option value="pepperroni"> Pepperroni </option>
    <option value="hawaian"> Hawaian </option>
    <option value="veggie"> Veggie </option>
  </select>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" value="Order Pizza!"/>
</form>
